/* General Styles */
.background-container {
  background-color: #f0f2f5;
  min-height: 100vh;
  padding: 20px;
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body h6 {
  margin: 5px 0;
}

/* Search Input */
input[type="text"] {
  width: 350px;
  border: none;
  border-radius: 8px;
  height: 30px;
  padding: 5px 10px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-link {
  background-color: rgba(0, 123, 255, 0.2);
  color: #007bff;
  border: 1px solid #007bff;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.page-link:hover {
  background-color: rgba(0, 123, 255, 0.3);
  color: #0056b3;
}

.page-link:focus {
  outline: none;
}
